
<%- include("partials/header"); -%>

<h1 class="home-h1">Home - </h1>
<h2 class="home-h2"><em>Smiles Per Gallon (SPG) Moto Reviews</em></h2>
<p class="opening-paragraph"><%= openingParagraph %></p>
<hr>

<% allPosts.forEach(function(post){ %>
  <% let postText = truncString(post.content, 100); %>
  <h1><%= post.title %></h1>
  <p><%= postText %> <a href="/posts/<%= post._id %>">Read More</a></p>
<% }); %>

<%# Truncates a given string to a specified length + ... %>
<% function truncString(string, truncLength) { %>
<%  let output = string; %>
<%  if (string.length > truncLength) { %>
<%    output = string.substring(0, truncLength + 1) + " ..."; %>
<%  }  %>
<%  return output; %>
<% } %>


<%- include("partials/footer"); -%>
