<%- include("partials/header"); -%>

    <h1><%= postTitle %></h1>
    <h3><%= carouselId %>[Carousel will go here]...</h3>
    <p><%= postText %></p>
    <h2>Ratings:</h2>
    <p><%= ratingText %></p>
    <h1>SPG Overall Rating: <%= overallRating %></h1>


<%- include("partials/footer"); -%>