<%- include("partials/header"); -%>

<div class="post-page">
    <h1><%= postTitle %></h1>
    
    <nav class="navbar navbar-expand-md navbar-light me-auto">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#postNavbar" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="postNavbar">
            <div class="navbar-nav ms-auto post-navbar">
              <a class="nav-link" href="#specs">Specs</a>
              <a class="nav-link" href="#review">Full Review</a>
              <a class="nav-link"  href="#scores">Scores</a>
              <a class="nav-link"  href="#overallScore">SPG Rating</a>
              <a class="nav-link" href="#otherReviews">Other Reviews</a>
            </div>
          </div>
    </nav>


    <div>
        <% let gridString = "img-grids/" + gridId %>
        <%- include(gridString); -%>
    </div>
    <section id="specs">
      <h2>Specs</h2>
      <p class="spec-cat">Trim: </p><p class="spec-info"> <%= spec5 %><br></p>
      <p class="spec-cat">Engine: </p><p class="spec-info"> <%= spec1 %><br></p>
      <p class="spec-cat">Transmission: </p><p class="spec-info"> <%= spec2 %><br></p>
      <p class="spec-cat">Wheelbase: </p><p class="spec-info"> <%= spec3 %><br></p>
      <p class="spec-cat">Curb Weight: </p><p class="spec-info"> <%= spec4 %><br></p>
    </section>
    <section id="review">
        <h2>Our Take</h2>
        <p><%= date %></p>
        <br>
        <p><i><%= reviewer %></i></p>
        <br>
        <br>
        <% let allParagraphs = []; %>
        <% let currentParagraph = ""; %>
        <% for (var i = 0; i < postText.length; i++) {  %>
        <%   if (postText.charAt(i) === '>') { %>
        <%      allParagraphs.push(currentParagraph); %>
        <%      currentParagraph = ""; %>
        <%   } else { %>
        <%      currentParagraph += postText.charAt(i); %>
        <%   } %>
        <% } %>

        <% for (var j = 0; j < allParagraphs.length; j++) { %>
          <p class="review-text"><%= allParagraphs[j] %><br></p>
        <% } %>
       
    </section>
    <section id="scores">
        <h2>Our Scores</h2>
        <div class="ratings">
            <p>Driving Dynamics: <b><%= rating1 %></b></p>
            <p>Comfort: <b><%= rating2 %></b></p>
            <p>Practicality: <b><%= rating3 %></b></p>
            <p>Bang for Buck: <b><%= rating4 %></b></p>
            <p>Smiles Per Gallon: <b><%= rating5 %></b></p>
        </div>
    </section>
    <section id="overallScore">
        <h2>SPG Overall Rating: <b><%= overallRating %></b></h2>
    </section>
    <hr class="post-bottom">

    
    <section id="otherReviews">
      <h2>See Other Reviews of the <%= postTitle %> </h2>
        <a href="/moreReviews/<%= postTitle %>"><button class="btn btn-primary btn-lg sub-btn" type="button">Click for More Reviews</button></a>
    </section>
</div>




<%- include("partials/footer"); -%>