<%- include("partials/header"); -%>

<div class="post-page">
    <h1><%= postTitle %></h1>
    <h3><%= carouselId %>[Carousel will go here]...</h3>
    <p><%= postText %></p>
    <h2>Ratings:</h2>
    <p><%= rating1 %></p>
    <p><%= rating2 %></p>
    <p><%= rating3 %></p>
    <p><%= rating4 %></p>
    <p><%= rating5 %></p>
    <h2>SPG Overall Rating: <%= overallRating %></h2>
</div>


<%- include("partials/footer"); -%>