<%- include("partials/header"); -%>

<div class="post-page">
    <h1><%= postTitle %></h1>
    
    <nav class="navbar navbar-expand-md navbar-light me-auto">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#postNavbar" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="postNavbar">
            <div class="navbar-nav ms-auto post-navbar">
              <a class="nav-link" href="#specs">Specs</a>
              <a class="nav-link" href="#review">Review</a>
              <a class="nav-link"  href="#scores">Scores</a>
              <a class="nav-link"  href="#overallScore">SPG Rating</a>
              <a class="nav-link" href="#otherReviews">Other Reviews</a>
            </div>
          </div>
    </nav>


    <div>
        <% let gridString = "img-grids/" + gridId %>
        <%- include(gridString); -%>
    </div>
    <section id="specs">
      <h2>Specs</h2>
      <p>Trim: <%= spec5 %></p>
      <p>Engine: <%= spec1 %></p>
      <p>Transmission: <%= spec2 %></p>
      <p>Wheelbase: <%= spec3 %></p>
      <p>Curb Weight: <%= spec4 %></p>
    </section>
    <section id="review">
        <h2>Our Take</h2>
        <p><%= postText %></p>
    </section>
    <section id="scores">
        <h2>Our Scores</h2>
        <div class="ratings">
            <p>Driving Dynamics: <b><%= rating1 %></b></p>
            <p>Comfort: <b><%= rating2 %></b></p>
            <p>Practicality: <b><%= rating3 %></b></p>
            <p>Bang for Buck: <b><%= rating4 %></b></p>
            <p>Smiles Per Gallon: <b><%= rating5 %></b></p>
        </div>
    </section>
    <section id="overallScore">
        <h2>SPG Overall Rating: <b><%= overallRating %></b></h2>
    </section>
    <hr class="post-bottom">

    
    <section id="otherReviews">
      <h2>See Other Reviews</h2>
      <div class="album py-5 bg-light">
        <div class="container">
    
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            <% videoResults.forEach(function(result) { %>

              <div class="col">
                <div class="card shadow-sm">
                
                  <a href="<%= result.link %>"><img class="bd-placeholder-img card-img-top" height="auto" src="https://img.youtube.com/vi/<%= result.id %>/0.jpg" /> </a>
      
                  <div class="card-body">
                    <i class="fa-brands fa-youtube video-icon fa-xl"></i>
                    <a class="yt-link" href="<%= result.link %>"><p class="card-text"><%= result.title %></p></a>
                  </div>
                </div>
              </div>

            <% }); %>
          </div>
        </div>
      </div>


      <!-- <% console.log(videoResults); %> -->
     
        
    </section>
</div>




<%- include("partials/footer"); -%>